# Xcode
#
build/
DerivedData/
*.hmap
*.ipa
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
CLAUDE.md

# Debug symbols
*.dSYM.zip
*.dSYM

# Swift Package Manager
#
.build/
.swiftpm/

# OS X
#
.DS_Store
**/.DS_Store

# Project Specific
CORO_TC
DICOM_DECODER_IMPROVEMENTS.md
DICOM_TRANSFER_SYNTAX_GUIDE.md
Specials 1CoronaryCTA_with_spiral _CTA_pre/
Product Page assets/
ATRIA_Codebase_Documentation.html
App Store assets (screenshots and videos)/
assets/simulator videos/
artifacts/
